# Don't track
/training/*.psv
/training_1/*.psv
/training_setA/*.psv
/training_setB/*.psv
/explore_ipynb/.ipynb_checkpoints
/explore_ipynb/__pycache__/*.pyc
/explore_ipynb/__pycache__/*
/explore_ipynb/Breast_ESN/.ipynb_checkpoints
/explore_ipynb/Breast_ESN/__pycache__/*
/ipynb_*
/npy/*.npy
/foo_*
/foo*
/labels_1/*.psv
/Access_Physionet.jpg
*.pyc
